#intro, #qa, #team {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}

#intro {
    background-image: url('../img/background.png');
}

#qa {
    background-image: url('../img/qa.png');
}

/*#typography {
    background-image: url('../img/clothing.jpg');
    background-size: cover;
}*/

#evangelism {
    background-image: url('../img/onemorething.jpg');
    background-size: cover;
}

.oracle-text {
    color: #f80000 !important;
}

#persons {
    position: absolute;
    top: 0;
    left: 0;
}

#person {
    position: absolute;
    top: 433px;
    left: 811px;
}

#person-number {
    position: absolute;
    top: 640px;
    left: 847px;
}

.button-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.thebutton {
    border-style: solid;
}

.thebutton.standalone {
    font-size: 40px;
    padding: 10px 20px;
}

.thebutton.nocolor {
    background: white;
    border: 3px solid gray;
}

.spacer1 {
    height: 1em;
}

.spacer2 {
    height: 2em;
}

.green {
    color: #27ae60 !important;
}

.blue {
    color: #2980b9 !important;
}

.red {
    color: #c0392b !important;
}

.copy {
    color: grey;
    position: fixed;
    bottom: 10px;
    left: 50px;
    font-family: Arial;
    font-size: 12px;
    z-index: 1000;
}

.button-font.button-font {
    position: absolute;
    color: #c0392b;
    font-size: 50px;
    top: 0px;
    font-family: 'Times New Roman', Times, serif !important;
}

.full {
    width: 100%;
    height: 100%;
}

.code {
    font-family: Courier !important;
}

.font-space.font-space {
    display: inline-block;
    width: 193px;
    height: 32px;
    position: relative;
    background: rgba(255,0,0,0.2);
    margin: 20px -7px 0 23px;
}

.nomargin {
    margin: 0 !important;
}

.glory {
    box-shadow: 0px 0px 25px 5px rgba(255,213,0,1);
}

.designsystems td {
    text-align: center !important;
}

.reveal .token {
    border-radius: 150px;
    width: 200px;
    height: 200px;
    background: #f1c40f;
    border: 15px solid #f39c12;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.token.inline-token {
    display: inline-flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow, svg {
	height: 50px;
	width: 50px;
}

polygon {
  stroke-width: 0;
  fill: white;
}

.reveal .inset-space {
    position: absolute;
    color: #c0392b;
    font-size: 30px;
}

.reveal .inset-space.top {
    top: -10px;
}

.reveal .inset-space.bottom {
    bottom: -10px;
}

.reveal .inset-space.left {
    left: 6px;
    transform: rotate(90deg);
    top: 20px;
}

.reveal .inset-space.right {
    right: 6px;
    transform: rotate(90deg);
    top: 20px;
}

.reveal .around-button {
    position: relative;
    
}

.reveal .around-button.red {
    border: 3px solid #c0392b;
}

.thebutton.button-small {
    font-size: 30px;
    padding: 5px 10px;
}

.thebutton.noborder {
    border: 0;
}

.thebutton.button-medium {
    font-size: 40px;
    padding: 10px 20px;
}

.thebutton.button-large {
    font-size: 50px;
    padding: 20px 40px;
}

.thebutton.border-large {
    border-width: 5px;
    border-radius: 20px;
}

.thebutton.border-medium {
    border-width: 3px;
    border-radius: 10px;
}

.thebutton.border-small {
    border-width: 2px;
    border-radius: 5px;
}

.thebutton.border-visible {
    border-color: #27ae60;
}

.color {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.color.primary,
.color.red {
    background: #e74c3c;
}

.color.secondary,
.color.blue {
    background: #2980b9;
}

.color.white {
    background: white;
}

.color.green {
    background: #27ae60;
}

.color.yellow {
    background: #f1c40f;
}

.color.purple {
    background: #8e44ad;
}

.color.orange {
    background: #d35400;
}

.thebutton.button-secondary {
    background: #2980b9;
    border-color: #2980b9;
    color: #ddd;
}

.thebutton.button-error {
    border-color: #e74c3c;
}

.thebutton.button-warning {
    border-color: #f1c40f;
}

.thebutton.button-success {
    border-color: #27ae60;
}

.thebutton.button-warning-hover {
    box-shadow: 0 0 10px 1px #f1c40f;
}

.cursor {
    position: absolute;
    top: 18px;
    width: 60px;
}

.thebutton.button-primary {
    background: #e74c3c;
    border-color: #e74c3c;
    color: #333;
    font-weight: bold;
}

.thebutton.button-default {
    background: #333;
    border-color: #888;
    color: #ddd;
}

.thebutton.button-error-dark {
    border-color: #c0392b;
}

.reveal .message-box {
    display: inline-block;
    background: #c0392b;
    color: white;
    border: 3px solid #e74c3c;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    max-width: 400px;
}

.reveal .message-box::after {
    content: 'x';
    background: #c0392b;
    border: 3px solid #e74c3c;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;;
}

.flex-row.centered {
    align-items: center;
}

.reveal .text-box {
    background: #ddd;
    color: #333;
    width: 400px;
    height: 67px;
    border-radius: 5px;
    border: 3px solid #888;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.reveal .text-box .placeholder {
    color: #aaa;
}

.center {
    text-align: center;
}

.reveal .with-bottom-border td {
    border-bottom: 1px solid;
}

.reveal .with-bottom-border tr:last-child td {
  border-bottom: none;
}

.reveal .omg {
    position: absolute;
    bottom: 0;
    right: 0;
}

.evang {
    position: absolute;
    top: 30%;
    left: 10%;
}

.tldr {
    position: absolute;
    bottom: 0;
    right: 0;
}

.fail {
     position: absolute;
    bottom: 0;
    right: 0;
}

.button-with-icon {
    display: inline-flex;
    align-items: center;
}

.button-link {
    color: #2980b9;
    text-decoration: underline;
}

.reveal .table-center tr td {
    text-align: center;
}

.cross {
    text-decoration: line-through;
}

.why {
     position: absolute;
    bottom: 0;
    right: 0;
}

.department {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center
}

.department .title {
    font-size: 60px;
}

.department-wrapper {
    display: flex;
    justify-content: space-around;
}